@model List<Pricing> 
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Pricing</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">
          <div class="row">
              @foreach (var item in Model)
              {
                  <div class="col-lg-3 col-md-6">
                      <div class="box">
                          <h3>@item.Title</h3>
                          <h4><sup>$</sup>@item.Price<span> / month</span></h4>
                          @Html.Raw(item.List)
                          <div class="btn-wrap">
                              <a asp-controller="Pricing" asp-action="Details" asp-route-Id="@item.Id" class="btn-buy">Buy Now</a>
                          </div>
                      </div>
                  </div>
              }
          </div>
      </div>
    </section><!-- End Pricing Section -->

  </main><!-- End #main -->